body {
    background-color: antiquewhite;
}

#operator{
    width: 1rem;
}
input{
    height: 1.5em;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

#result_sign{
    position: relative;
    left: 2.5rem;
    top: 0.5rem;
    font-size: 2rem;
}

section{
text-align: center;
}

.operator{
    position: relative;
    right: 4.5rem;
}
